.nav {
  display: flex;
  justify-content: space-between;
  color: rgb(208, 113, 40);
  margin-top: 20px ;
}
.nav h1{
    font-size: 35px;
    margin: 0;
}
.nav ul{
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav li{
    padding: 5px;
}
.nav a{
    text-decoration: none;
    color: rgb(208, 113, 40);
}
.nav .nav-search input{
flex: 1;
    height: 28px;
    width: 200px;
    border: solid 1px rgb(208, 113, 40);
    border-right: 0px;
}
.nav .nav-search button{

    height: 32px;
    border: solid 1px rgb(208, 113, 40);
    border-left: 0px;
}

