<div class="container">
  <div *ngIf="isLogin" class="signup">
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="signUp(sellerSignUp.value)"
      class="form"
    >
      <h1>Seller SignUp</h1>
      <input
        required
        type="text"
        ngModel
        name="name"
        placeholder="Enter name"
      />
      <input
        required
        type="email"
        ngModel
        name="email"
        placeholder="Enter email"
      />
      <input
        required
        type="password"
        ngModel
        name="password"
        placeholder="Enter password"
      />
      
      <!-- <div class="image">
        <input type="file" ngModel name="image" />
        <label>select profil picture</label>
      </div> -->
      <button  class="btn">SignUp</button>
      <a (click)="openLogin()" style="text-align: left; cursor: pointer"
        >Already have account? click here</a
      >
    </form>
  </div>

  <!-- login -->

  <div *ngIf="!isLogin" class="signup">
    <form
      #sellerLogIn="ngForm"
      (ngSubmit)="logIn(sellerLogIn.value)"
      class="form"
    >
      <h1>Seller LogIn</h1>
      <p class="error">{{ errorMsg }}</p>
      <input
        required
        type="email"
        ngModel
        name="email"
        placeholder="Enter email"
      />
      <input
        required
        type="password"
        ngModel
        name="password"
        placeholder="Enter password"
      />
      <button >LogIn</button>
      <a (click)="openSingUP()" style="text-align: left; cursor: pointer"
        >Don't have account? click here</a
      >
    </form>
  </div>
</div>
